In [24]:
import pandas as pd
import os

file_name = 'car_evaluation.csv'
full_file_path = os.path.join(os.getcwd() + "\\" + file_name)
df = pd.read_csv(full_file_path)
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [25]:
# 데이터 정보 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vhigh    1727 non-null   object
 1   vhigh.1  1727 non-null   object
 2   2        1727 non-null   object
 3   2.1      1727 non-null   object
 4   small    1727 non-null   object
 5   low      1727 non-null   object
 6   unacc    1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [26]:
# 결측치 확인
df.isna().sum()

vhigh      0
vhigh.1    0
2          0
2.1        0
small      0
low        0
unacc      0
dtype: int64

In [28]:
df.columns

Index(['vhigh', 'vhigh.1', '2', '2.1', 'small', 'low', 'unacc'], dtype='object')

In [29]:
from sklearn.preprocessing import LabelEncoder

# 인코딩 작업(성별 데이터를 숫자로 변경)
def encode_features(dataDF) :
    features = ['vhigh', 'vhigh.1', 'small', 'low']
    for feature in features :
        le = LabelEncoder()
        le = le.fit(dataDF[feature])
        dataDF[feature] = le.transform(dataDF[feature])

    return dataDF

df = encode_features(df)
df.head()

   vhigh  vhigh.1  2 2.1  small  low  unacc
0      3        3  2   2      2    2  unacc
1      3        3  2   2      2    0  unacc
2      3        3  2   2      1    1  unacc
3      3        3  2   2      1    2  unacc
4      3        3  2   2      1    0  unacc

In [35]:
df['2'].value_counts()

2
3        432
4        432
5more    432
2        431
Name: count, dtype: int64

In [36]:
df['2'] = df['2'].replace('5more', 5)

In [43]:
df['2.1'] = df['2.1'].replace('more', 5)

In [39]:
df.columns

Index(['vhigh', 'vhigh.1', '2', '2.1', 'small', 'low', 'unacc'], dtype='object')

In [53]:
df['2'].value_counts()

2
3    432
4    432
5    432
2    431
Name: count, dtype: int64

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [56]:
# 피터, 레이블 데이터
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

# 훈련, 테스트 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [57]:
# 모델생성
dt_clf = DecisionTreeClassifier()
rf_clf = RandomForestClassifier()
svm_clf = SVC()
lr_clf = LogisticRegression(max_iter = 200)
knn_clf = KNeighborsClassifier(n_neighbors = 3)

In [60]:
# 결정트리 학습 / 예측 / 평가
dt_clf.fit(X_train, y_train)
dt_pred = dt_clf.predict(X_test)
print('결정트리 정확도 {:.4f}'.format(accuracy_score(y_test, dt_pred)))

결정트리 정확도 0.9711

In [61]:
# 랜덤포레스트 학습 / 예측 / 평가
rf_clf.fit(X_train, y_train)
rf_pred = rf_clf.predict(X_test)
print('랜덤포레스트 정확도 {:.4f}'.format(accuracy_score(y_test, rf_pred)))

랜덤포레스트 정확도 0.9624

In [62]:
# 로지스틱 회귀 학습 / 예측 / 평가
lr_clf.fit(X_train, y_train)
lr_pred = lr_clf.predict(X_test)
print('로지스틱 회귀 정확도 {:.4f}'.format(accuracy_score(y_test, lr_pred)))

로지스틱 회귀 정확도 0.6850

In [63]:
# SVM 학습 / 예측 / 평가
svm_clf.fit(X_train, y_train)
svm_pred = svm_clf.predict(X_test)
print('SVM 정확도 {:.4f}'.format(accuracy_score(y_test, svm_pred)))

SVM 정확도 0.7919

In [64]:
# 데이터 스케일링
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [65]:
# KNN 학습 / 예측 / 평가
knn_clf.fit(X_train, y_train)
knn_pred = knn_clf.predict(X_test)
print('KNN 정확도 {:.4f}'.format(accuracy_score(y_test, knn_pred)))

KNN 정확도 0.9624